@font-face {
	font-family: inter;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		url('https://br-mute-sun-avpguohr-relay.compute.c-11.us-east-1.aws.neon.tech/cdn/fonts/inter/Inter-Regular.woff2?v=3.19') format('woff2'),
		url('https://br-mute-sun-avpguohr-relay.compute.c-11.us-east-1.aws.neon.tech/cdn/fonts/inter/Inter-Regular.woff?v=3.19') format('woff');
}
@font-face {
	font-family: inter;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src:
		url('https://br-mute-sun-avpguohr-relay.compute.c-11.us-east-1.aws.neon.tech/cdn/fonts/inter/Inter-Medium.woff2?v=3.19') format('woff2'),
		url('https://br-mute-sun-avpguohr-relay.compute.c-11.us-east-1.aws.neon.tech/cdn/fonts/inter/Inter-Medium.woff?v=3.19') format('woff');
}
@font-face {
	font-family: inter;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src:
		url('https://br-mute-sun-avpguohr-relay.compute.c-11.us-east-1.aws.neon.tech/cdn/fonts/inter/Inter-SemiBold.woff2?v=3.19') format('woff2'),
		url('https://br-mute-sun-avpguohr-relay.compute.c-11.us-east-1.aws.neon.tech/cdn/fonts/inter/Inter-SemiBold.woff?v=3.19') format('woff');
}
@font-face {
	font-family: inter;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:
		url('https://br-mute-sun-avpguohr-relay.compute.c-11.us-east-1.aws.neon.tech/cdn/fonts/inter/Inter-Bold.woff2?v=3.19') format('woff2'),
		url('https://br-mute-sun-avpguohr-relay.compute.c-11.us-east-1.aws.neon.tech/cdn/fonts/inter/Inter-Bold.woff?v=3.19') format('woff');
}
@font-face {
	font-family: inter;
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src:
		url('https://br-mute-sun-avpguohr-relay.compute.c-11.us-east-1.aws.neon.tech/cdn/fonts/inter/Inter-ExtraBold.woff2?v=3.19') format('woff2'),
		url('https://br-mute-sun-avpguohr-relay.compute.c-11.us-east-1.aws.neon.tech/cdn/fonts/inter/Inter-ExtraBold.woff?v=3.19') format('woff');
}
